body {
  background-color: #dddddd !important;
}

.input {
  max-width: 100%;
  text-align: center;
}

/* Otsikko */
.mainheader {
  text-align: center;
}

.input-group-lg {
  text-align: center;
  padding: 0px 200px 0px 200px;
  max-width: 100%;
}

.butt {
  text-align: center;
}

.btn {
  padding: 10px 50px 10px 50px !important;
}

.row {
    text-align: center;
}

.rightcol {
  text-align: right;
  margin-left: 200px;
  padding-right: 0px !important;
}

.leftcol {
  text-align: left;
}

.centered {
  margin: auto;
  text-align: center;
}

.btn-very-large {
  padding: 18px 28px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.wordlist {
  text-align: center;
}

ul {
  list-style-type: none;
  padding:0; margin:0;
}
